<h2> Route <%= @route.name %></h2>

<%= link_to "Add New Direction", new_route_direction_path(@route) %> 

<% @route.directions.each do |direction| %>
   <h3><%= index %>. <%= direction.destination.name  %></h3>
   <p><%= direction.duration %></p>
   <p><%= direction.variation %></p>
    <% end %>