<h2> Add a New Destination </h2>

<% @destination.errors.full_messages.each do |error| %>
    <p> <i><%= error %></i> </p>
      <% end %>

<%= form_for @destination do |f| %>
    <%= f.label :location %>
    <%= f.text_field :location %>
    <br>
    <label> Have you been here before? </label>
    <select> 
    <option>Yes</option>
    <option>No</option>
     </select>
     <br>
    <%= f.submit "Create Destination" %>
<% end %>